

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    cursor: pointer;
    margin: 20px;
    padding-left: 70px ;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav ul li a:hover {
    color: orange;
}

.background-picture img{
    width: 1600px;
    height: 750px;
    background-size: cover;
}

.background-picture button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FF8C00;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.background-picture h1{
    padding-bottom: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica;
}

.background-picture h2{
    padding-bottom: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:  "Lucida Console", "Courier New", monospace;
}

.background-picture .btn:hover {
    background-color: orange;
}

.header {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.images img {
    width: 200px;
    height: 200px;
    padding: 30px;
    padding-bottom: 100px;
}

.image1 {
    float: left;
    margin-left: 350px;
}

.image2 {
    float: right;
    margin-right: 350px;
}

.text p{
    font-size: 20px;
    clear: both;
    
}

.txt1{
    margin-left: 100px;
}

.txt2 {
    margin-left: 900px;
}

hr {
    width: 80%;  
    height: 1px;  
    background-color: black;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
}