* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    cursor: pointer;
    margin: 10px;
    margin-left: 70px ;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav ul li a:hover {
    color: orange;
}


.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px 50px;
    grid-gap: 5px;
    text-align: center;
}

.container-main img {
    width: 100%;
    height: auto;
}

.container-main h1 {
    color: darkgoldenrod;
    padding-top: 100px;
    padding-bottom: 50px;
}

.form div {
    display: inline-block;
    padding-bottom: 10px;
}

.form label {
    display: block;
}

.form-postcode div{
    display: inline-block;
    padding-bottom: 10px;
}

.form-postcode label{
    display: block;
}

.form_address_two label {
    padding-top: 10px;
}

.circle h6{
    padding-top: 50px;
    padding-right: 160px;
}

.circle input {
    margin-right: 20px;
}

.checkbox label{
    padding-top: 50px;
    padding-bottom: 50px;
}


