* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    cursor: pointer;
    margin: 10px;
    margin-left: 70px ;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav ul li a:hover {
    color: orange;
}

.background-picture img{
    width: auto;
    height: auto;
    background-size: cover;
}

.background-picture button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FF8C00;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.background-picture h1{
    padding-bottom: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica;
}

.background-picture h2{
    padding-bottom: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:  "Lucida Console", "Courier New", monospace;
}

.background-picture .btn:hover {
    background-color: orange;
}

.header {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.image1 img{
    width: 300px;
    height: 300px;
}

.image2 img{
    width: 300px;
    height: 300px;
}

.image3 img{
    width: 300px;
    height: 300px;
}


.copyright-text {
    text-align: center;
    font-size: 16;
    font-family: arial;
    padding-bottom: 50px;
    padding-top: 50px;
}


.col1 {
    position: absolute;

}


.col2 {
    text-align: center;
    font-size: 24px;
    padding-top: 180px;
    margin-right: 0px;
    background-color: bisque;
}

.col2 button {
    background-color: #FF8C00;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.col2 button:hover{
    background-color: orange;
}

.row div {
    padding: 1rem;
    border: 2px solid #fff;
    color: black;
    text-align: center;
}

.text-1 {
    font-size: 24px;
    background-color: #FF8C00;
}

.text-2 {
    font-size: 24px;
}

.text-3 {
    font-size: 24px;
}
