.header {
    width:500px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFFAF0;
}

/*Article 1*/

.art1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
}

.art1 h2{
    padding-top: 50px;
    text-align: center;
    font-family: Arial;
}

.art1 p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Article 2*/

.art2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 500px;
    padding-bottom: 10px;
}

.art2 h2{
    padding-top: 50px;
    text-align: center;
    font-family: Arial;
}

.art2 p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Article 3*/

.art3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 600px;
    padding-bottom: 10px;

}

.art3 h2{
    padding-top: 50px;
    text-align: center;
    font-family: Arial;
}

.art3 p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Article 3*/

.ftr {
    margin-top: 50px;
    text-align: center;
    color: blueviolet;

}